
body{
    background-color: rgb(251, 239, 223);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
     color: rgb(4, 38, 38);
}
h1#principal{
    text-align: center;
    font-size:40px;
    background-color: azure;
}

h2{
    color: rgb(19, 56, 43);
}

.basico{
    background-color: rgb(203, 144, 71);
}

h3{
    color: rgb(11, 59, 2);
}

.avancado{
    background-color: rgb(193, 190, 13);
}

.intermediario{
    background-color: rgb(205, 24, 24);
}